﻿<div id="RelatedNodesDashboard" ng-controller="Our.Umbraco.RelatedNodes.DashboardController">
    <div>
        <h2>Orphan Nodes Dashboard</h2>
        <div>
            <label for="includeNodesWithOutgoing">Include Nodes with only Outgoing Links: </label>
            <input id="includeNodesWithOutgoing" type="checkbox" ng-model="includeWithOutgoing" ng-change="refresh()" /><br />
            <a ng-click="changeExcludedFolders(false)">Choose Excluded Content Folders...</a>&nbsp;&nbsp;&nbsp;<a ng-click="changeExcludedFolders(true)">Choose Excluded Media Folders...</a>
        </div>
        <div>
            <button class="btn" ng-disabled="loading" ng-click="refresh()">Refresh</button>
            <div class="btn-group pull-right">
                <a class="btn btn-success" href="#" prevent-default data-toggle="dropdown">
                    <localize key="general_actions">Actions</localize>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu umb-actions" role="menu" aria-labelledby="dLabel">
                    <li class="action" ng-repeat="action in actions">
                        <a prevent-default ng-click="executeMenuAction(action)">
                            <i class="icon icon-{{action.icon}}"></i>
                            <span class="menu-label">{{action.name}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div ng-show="loading">
            Determining unrelated nodes...
        </div>
        <div ng-hide="loading">
            <table class="related-nodes">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th class="sortable" ng-click="sort('name')">Node</th>
                        <th class="sortable" ng-click="sort('path')">Location</th>
                        <th class="centered sortable" ng-click="sort('lastUpdated')">Last Updated</th>
                        <th class="sortable" ng-click="sort('contentTypeAlias')">Type</th>
                        <th class="sortable" ng-click="sort('status')">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="node in filteredNodes" ng-class-odd="'odd'">
                        <td><input type="checkbox" ng-model="node.checked" ng-change="checkChanged(node)" />&nbsp;</td>
                        <td><a href="{{node.link}}">{{node.name}}</a></td>
                        <td><span ng-bind-html="node.linkedPath"></span></td>
                        <td class="centered">{{node.lastEditDate}}</td>
                        <td>&nbsp;&nbsp;<i class="icon {{node.contentTypeIcon}}"></i>&nbsp;&nbsp;{{node.contentTypeAlias}}&nbsp;&nbsp;</td>
                        <td>{{node.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-hide="loading || filteredNodes.length == 0">
            <button class="btn btn-default" ng-disabled="loading || !hasPrevious" ng-click="prevPage()">Previous</button>
            <span>&nbsp;Page {{currentPage}} of {{totalPages | number:0}} ({{unlinkedNodes.length | number:0}} unlinked nodes)</span>
            <button class="btn btn-default" ng-disabled="loading || !hasNext" ng-click="nextPage()">Next</button>
        </div>
    </div>
</div>