﻿<div id="RelatedNodesExcludedFolder" ng-controller="Our.Umbraco.RelatedNodes.ExcludedFolderController">
    <div ng-include="pickerView"></div>

    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar" ng-hide="success">
        <a class="btn btn-link" ng-click="submit(false)" ng-if="!busy">
            <localize key="general_cancel">Cancel</localize>
        </a>
        <button class="btn btn-primary" ng-click="saveNodes()" ng-disabled="busy">
            <span>Update Excluded Folders</span>
        </button>
    </div>
</div>