﻿<div ng-controller="Our.Umbraco.RelatedNodes.ModalController">
    <div class="umb-dialog-body">
        <div class="umb-pane">
            <div ng-if="needsDestination">
                <p class="abstract">Click Choose... below to select the destination node.</p>
                <p><a ng-click="selectDestination()">Choose...</a></p>
            </div>
            <div ng-hide="needsDestination">
                <p class="abstract" ng-hide="success">
                    Are you sure you want to {{action.name}} the {{nodeCount}} {{nodeType}} node{{single ? '' : 's'}}?
                </p>
            </div>
        </div>
    </div>

    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar" ng-hide="success">
        <a class="btn btn-link" ng-click="submit(false)" ng-if="!busy">
            <localize key="general_cancel">Cancel</localize>
        </a>
        <button class="btn btn-primary" ng-click="completeAction()" ng-disabled="busy || needsDestination">
            <span>{{action.name}}</span>
        </button>
    </div>
</div>