﻿<div id="RelationManager" ng-controller="Our.Umbraco.RelatedNodes.RelationsController">
    <div ng-show="loading">
        Determining incoming links...
    </div>
    <div ng-hide="loading">
        <h3>Incoming Links Count: {{incomingNodeCount}}</h3>
        <table class="related-nodes" ng-hide="incomingNodeCount == 0">
            <thead>
            <tr>
                <th class="sortable" ng-click="sort('incoming', 'name')">Node</th>
                <th class="sortable" ng-click="sort('incoming', 'path')">Location</th>
                <th class="centered sortable" ng-click="sort('incoming', 'lastUpdated')">Last Updated</th>
                <th class="sortable" ng-click="sort('incoming', 'contentTypeAlias')">Type</th>
                <th class="sortable" ng-click="sort('incoming', 'status')">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="node in sortedIncomingNodes" ng-class-odd="'odd'">
                <td><a href="{{node.link}}">{{node.name}}</a></td>
                <td><span ng-bind-html="node.linkedPath"></span></td>
                <td class="centered">{{node.lastEditDate}}</td>
                <td>&nbsp;&nbsp;<i class="icon {{node.contentTypeIcon}}"></i>&nbsp;&nbsp;{{node.contentTypeAlias}}&nbsp;&nbsp;</td>
                <td>{{node.status}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="loading">
        Determining outgoing links...
    </div>
    <div ng-hide="loading">
        <h3>Outgoing Links Count: {{outgoingNodeCount}}</h3>
        <table class="related-nodes" ng-hide="outgoingNodeCount == 0">
            <thead>
            <tr>
                <th class="sortable" ng-click="sort('outgoing', 'name')">Node</th>
                <th class="sortable" ng-click="sort('outgoing', 'path')">Location</th>
                <th class="centered sortable" ng-click="sort('outgoing', 'lastUpdated')">Last Updated</th>
                <th class="sortable" ng-click="sort('outgoing', 'contentTypeAlias')">Type</th>
                <th class="sortable" ng-click="sort('outgoing', 'status')">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="node in sortedOutgoingNodes" ng-class-odd="'odd'">
                <td><a href="{{node.link}}">{{node.name}}</a></td>
                <td><span ng-bind-html="node.linkedPath"></span></td>
                <td class="centered">{{node.lastEditDate}}</td>
                <td>&nbsp;&nbsp;<i class="icon {{node.contentTypeIcon}}"></i>&nbsp;&nbsp;{{node.contentTypeAlias}}&nbsp;&nbsp;</td>
                <td>{{node.status}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>