﻿table.related-nodes {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 32px;
}

    table.related-nodes th.sortable {
        cursor: pointer;
    }

    table.related-nodes th, table.related-nodes td {
        margin: 4px;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

        table.related-nodes th.centered, table.related-nodes td.centered {
            text-align: center;
        }

    table.related-nodes tr.odd {
        background-color: #eee;
    }
